{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1><small>Evidence:</small> {{ klient }}</h1>
    <br>
    <h2>Typ dokumentu</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
         <thead>
            <tr>
                <th>Typ dokumentu</th>
                <th>Frekvence</th>
                <th>Dodáno</th>
                <th>Uzávěrka</th>
                <th>Zpracováno</th>
                <th></th>
            </tr>
         </thead>

         <tbody>
            {% for d in docs %}
               <tr>
                   <td>{{ d.TypyDokumentu.typ }}</td>
                   <td>
                        {% if d.TypyDokumentu.frekvence == "month" %}
                            1x měsíčně
                        {% elif d.TypyDokumentu.frekvence == "year" %}
                            1x ročně
                        {% endif %}
                   </td>
                   <td>
                        {% if d.DocsKlientu.dodani == None %}
                            <span class="missing">Chybí</span>
                        {% else %}
                            <span class="done">{{ d.DocsKlientu.dodani }}</span>
                        {% endif %}
                   </td>
                   <td>
                        {% if d.DocsKlientu.uzaverka == None %}
                            <span class="missing">Chybí</span>
                        {% else %}
                            <span class="done">{{ d.DocsKlientu.uzaverka }}</span>
                        {% endif %}
                   </td>
                   <td>
                        {% if d.DocsKlientu.zpracovani == None %}
                            <span class="missing">Chybí</span>
                        {% else %}
                            <span class="done">{{ d.DocsKlientu.zpracovani }}</span>
                        {% endif %}
                   </td>
                   <td><a href="/client/{{ id }}/evidence/{{ d.DocsKlientu.id_zaznamu }}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Upravit</a></td>
               </tr>
            {% endfor %}
         </tbody>
        </table>
    </div>
    <br>
    <p><a href = "/client/{{ id }}/evidence/new">Přidej dokument</a></p>

{% endblock %}
