{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if current_user.is_anonymous %}
    <h1>Vítejte v AccHound!</h1>
    {% else %}
        <h1>Ahoj
            {% if current_user.jmeno == "Fred" %} Frede!
            {% elif current_user.jmeno == "Jon" %} Jone!
            {% else %} {{ current_user.jmeno }}
            {% endif %}
        </h1>
        <br>
        <p>Tohle je tvůj dashboard, neboli přehled nadcházejících uzávěrek tvých klientů. V následujícím poli si nastav svého hlídače dat uzávěrek. Tento hlídač ti 
            sem vypíše všechny blížící se uzávěrky, které přesáhnou počet blížících se dní.</p>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
            
        <br>

        <h3><span class="missing">Hlídač!</span> <small>od {{ spravce.hlidac }} dní do uzávěrky</small></h3>

        {% if crit_form %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Klient</th>
                        <th>Typ dokumentu</th>
                        <th>Frekvence</th>
                        <th>Dodáno</th>
                        <th>Uzávěrka</th>
                        <th>Zpracováno</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for crit in crit_form %}
                    <tr>
                        <td>{{ crit.Klienti.jmeno }}</td>
                        <td>{{ crit.TypyDokumentu.typ }}</td>
                        <td>
                                {% if crit.TypyDokumentu.frekvence == "month" %}
                                    1x měsíčně
                                {% elif crit.TypyDokumentu.frekvence == "year" %}
                                    1x ročně
                                {% endif %}
                        </td>
                        <td>
                                {% if crit.DocsKlientu.dodani == None %}
                                    <span class="missing pull">Chybí</span>
                                {% else %}
                                    <span class="done">{{ crit.DocsKlientu.dodani }}</span>
                                {% endif %}
                        </td>
                        <td>
                                {% if crit.DocsKlientu.uzaverka == None %}
                                    <span class="missing">Chybí</span>
                                {% else %}
                                    <span class="done">{{ crit.DocsKlientu.uzaverka }}</span>
                                {% endif %}
                        </td>
                        <td>
                                {% if crit.DocsKlientu.zpracovani == None %}
                                    <span class="missing">Chybí</span>
                                {% else %}
                                    <span class="done">{{ crit.DocsKlientu.zpracovani }}</span>
                                {% endif %}
                        </td>
                        <td><a href="/client/{{ crit.Klienti.id_klienta }}/evidence/{{ crit.DocsKlientu.id_zaznamu }}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Upravit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>Nemáš žádný kritický rest :)</p>
        {% endif %}

        <br>

        <h3>Ostatní!</h3>

        {% if others_form %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
             <thead>
                <tr>
                    <th>Klient</th>
                    <th>Typ dokumentu</th>
                    <th>Frekvence</th>
                    <th>Dodáno</th>
                    <th>Uzávěrka</th>
                    <th>Zpracováno</th>
                    <th></th>
                </tr>
             </thead>

             <tbody>
                {% for other in others_form %}
                   <tr>
                       <td>{{ other.Klienti.jmeno }}</td>
                       <td>{{ other.TypyDokumentu.typ }}</td>
                       <td>
                            {% if other.TypyDokumentu.frekvence == "month" %}
                                1x měsíčně
                            {% elif other.TypyDokumentu.frekvence == "year" %}
                                1x ročně
                            {% endif %}
                       </td>
                       <td>
                            {% if other.DocsKlientu.dodani == None %}
                                <span class="missing">Chybí</span>
                            {% else %}
                                <span class="done">{{ other.DocsKlientu.dodani }}</span>
                            {% endif %}
                       </td>
                       <td>
                            {% if other.DocsKlientu.uzaverka == None %}
                                <span class="missing">Chybí</span>
                            {% else %}
                                <span class="done">{{ other.DocsKlientu.uzaverka }}</span>
                            {% endif %}
                       </td>
                       <td>
                            {% if other.DocsKlientu.zpracovani == None %}
                                <span class="missing">Chybí</span>
                            {% else %}
                                <span class="done">{{ other.DocsKlientu.zpracovani }}</span>
                            {% endif %}
                       </td>
                       <td><a href="/client/{{ other.Klienti.id_klienta }}/evidence/{{ other.DocsKlientu.id_zaznamu }}" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Upravit</a></td>
                   </tr>
                {% endfor %}
             </tbody>
            </table>
        </div>
        {% else %}
            <p>Nemáš dlouhodobější resty :)</p>
        {% endif %}
    {% endif %}
{% endblock %}