{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Klienti</h1>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
         <thead>
            <tr>
                <th>#</th>
                <th>Jméno</th>
                <th>Email</th>
                <th>Adresa</th>
                <th>Telefon</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
         </thead>

         <tbody>
            {% for k in Klienti %}
               <tr>
                   <td>{{ k.id_klienta }}</td>
                   <td>{{ k.jmeno }}</td>
                   <td>{{ k.email }}</td>
                   <td>{{ k.adresa }}</td>
                   <td>{{ k.telefon }}</td>
                   <td><a href="/client/{{k.id_klienta}}/evidence" class="btn btn-success pull-right"><span class="glyphicon glyphicon-paperclip"></span> Evidence</a></td>
                   <td><a href="/client/{{k.id_klienta}}" class="btn btn-info pull-right"><span class="glyphicon glyphicon-pencil"></span></a></td>
                   <td><a href="/deleteClient/{{k.id_klienta}}" class="btn btn-danger pull-left"><span class="glyphicon glyphicon-trash"></span></a></td>
               </tr>
            {% endfor %}
         </tbody>
        </table>
    </div>
    <p><a href = "{{ url_for('routes.newClient') }}">Přidat nového klienta</a></p>
{% endblock %}
