{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <br>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
         <thead>
            <tr>
               <th>Název</th>
               <th>Popisek</th>
            </tr>
         </thead>

         <tbody>
            {% for r in Role %}
               <tr>
                  <td>{{ r.nazev }}</td>
                  <td>{{ r.popisek }}</td>
               </tr>
            {% endfor %}
         </tbody>
        </table>
    </div>
    <p><a href = "{{ url_for('routes.newRole') }}">Vytvořit novou roli</a></p>
{% endblock %}
